// :root {
//   --bg-color: #EEE8DA;
//   --primary-color: #1C1AEE;
//   --secondary-color: #F36525;

//   --c-black: #1d1d1f;
//   --c-gray-2: #ccc;
//   --c-gray-1: #eee;
//   --c-gray-3: #555;
// }
$bg-color: #EEE8DA;
$primary-color: #1C1AEE;
$secondary-color: #F36525;

$c-black: #1d1d1f;
$c-white: #fff;
$c-gray-2: #ccc;
$c-gray-1: #eee;
$c-gray-3: #555;